@font-face {
   font-family: 'OpenSans-Semibold';
   src: url("../fonts/OpenSans-Semibold.woff2") format("woff2"),
        url("../fonts/OpenSans-Semibold.woff") format("woff"),
        url("../fonts/OpenSans-Semibold.ttf");
}
@font-face{
   font-family: 'PTSans-Web-Bold';
   src: url("../fonts/PTSans-Web-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Web-Bold.woff") format("woff"),
        url("../fonts/PTSans-Web-Bold.ttf");
}
@font-face{
   font-family: 'OpenSans-Regular';
   src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.ttf");
}
@font-face{
   font-family: 'OpenSans-Bold';
   src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.ttf");
}
@font-face{
   font-family:'Glyphicons Halflings';
   src: url("../fonts/glyphicons-halflings-regular.woff2") format('woff2'),
        url("../fonts/glyphicons-halflings-regular.woff") format('woff'),
        url("../fonts/glyphicons-halflings-regular.ttf")
}
@font-face{
   font-family: 'socicon';
      src: url("../fonts/icons.woff2") format("woff2"),
           url("../fonts/icons.woff") format("woff"),
           url("../fonts/icons.ttf");
   font-weight:400;
   font-style:normal
}

[class*=" socicon-"]:before,
[class^=socicon-]:before,
[data-icon]:before {
   font-family: socicon!important;
   font-style: normal!important;
   font-weight: 400!important;
   font-variant: normal!important;
   text-transform: none!important;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
[data-icon]:before {
   content: attr(data-icon)
}
.socicon-skype:before {
   content: "\e046"
}
.socicon-vkontakte:before {
   content: "\e01a"
}
.socicon-icq:before {
   content: "\e05d"
}
.socicon-mail:before {
   content: "\e01f"
}
