#menu{
   margin-bottom: 10px;
   padding: 0;
   background: #7b4119;
   height: 40px!important;
   border: 0px;
   border-bottom: 3px solid #dfa31b;
   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
   border-radius: 21px;
}

.nav.navbar-nav {
   height: 50%;
   border-top-left-radius: 21px;
   border-top-right-radius: 21px;
   background: -webkit-linear-gradient(bottom, #8b5835, #663614);
   background: -ms-linear-gradient(bottom, #8b5835, #663614);
   width: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
   -ms-flex-direction: row;
   flex-direction: row;
   -ms-flex-pack: distribute;
   justify-content: space-around;
}

#menu ul li:nth-child(even){
   position: relative;
   top: 35%;
   width: 10px;
   height: 33px;
   background: url('../img/index-items.png') -10px -20px;
}

.nav.navbar-nav li img{
   margin-top: 70%;
}

.nav.navbar-nav li a{
   color: white !important;
   padding: 13px!important;
   font-family: OpenSans-Semibold, sans-serif;
   font-size: 17px;
   text-shadow: 2px 1px 1px #000;
   text-shadow: 2px 1px 2px rgba(0,0,0,0.7);
   height: 48px;
}

.nav.navbar-nav li a:hover{
   font-family: OpenSans-Bold, sans-serif;
   font-size: 18px;
}

.active-menu{
   font-size: 18px !important;
   font-family: OpenSans-Bold, sans-serif !important;
   background: -webkit-linear-gradient(top, #a0661c, #dfa31b);
   background: -ms-linear-gradient(top, #a0661c, #dfa31b);
}
