<style>
   @import url(views/kontaktu/kontaktu.css);
</style>
<div class="panel panel-default">
   <div class="panel-heading">
      Контакты нашего сайта
   </div>
   <div class="panel-body">
      <p>Магазин GoldenBox не использует другие контакты, кроме тех что указаны на сайте. Для верного начала переписки по skype или vkontakte рекомендуем делать клик на ссылке непосредственно со страниц нашего сайта. <br>&nbsp;&nbsp;Время работы магазина c 10:00 до 23:00. Все заказы, что поступили в нерабочее время, будут выполнены с утра в порядке очереди. Ваши вопросы, пожелания и предложения можете написать по контактам ниже:
      </p>
      <div class="col-xs-12 col-sm-6">
         <div class="thumbnail" id="vizitka">
            <div class="kontaktu">
               <a href="skype:live:goldenboxsite?chat" title="Нажмите для открытия чата">
                  <span class="socicon-skype col-xs-4 col-sm-4"><p>&nbsp;Skype:</p></span>
                  <p class="col-xs-8 col-sm-8">GoldenBoxSite</p>
               </a>
               <a href="https://vk.com/goldenboxorg" title="Нажмите, чтобы перейти в группу" target="_blank" rel="noopener noreferrer">
                  <span class="socicon-vkontakte col-xs-4 col-sm-4"><p>ontakte:</p></span>
                  <p class="col-xs-8 col-sm-8">vk.com/goldenboxorg</p>
               </a>
               <div title="Наш ICQ UIN">
                  <span class="socicon-icq col-xs-4 col-sm-4"><p>&nbsp;ICQ:</p></span>
                  <p class="col-xs-8 col-sm-8">474-402</p>
               </div >
               <a href="mailto:goldenboxsite@gmail.com" title="Нажмите, чтобы написать нам на почту.">
                  <span class="socicon-mail col-xs-4 col-sm-4"><p>&nbsp;E-mail:</p></span>
                  <p class="col-xs-8 col-sm-8">GoldenBoxSite@gmail.com</p>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="views/kontaktu/kontaktu.js"></script>
