<!doctype html>
<html lang="ru">
<head>
   <meta charset="UTF-8">
   <title>Golden Box - онлайн магазин игровой валюты.</title>
   <link href="favicon.png" rel="icon" sizes="16x16" type="image/png">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="description" content="Онлайн магазин игровой валюты. Купить Золото, Адену, Кинары. Быстро, дешево, с гарантиями!">
   <meta name="keywords" content="GoldenBox, купить, продать, игровая, валюта, золото, адена, кинары, онлайн, игры, Aion, ArcheAge, Blade&Soul, DragonNest, Lineage, L2, Perfect World, Warcraft, Classic, Ruoff, Руофф, WOW, Lineage2, Lineage II">
   <style>
      @import url(css/fonts.css);
      @import url(css/karkaz.css);
      @import url(css/bootstrap.css);
      @import url(css/shared.css);
      @import url(css/header.css);
      @import url(css/left-panel.css);
      @import url(css/menu.css);
      @import url(css/slider.css);
      @import url(css/footer.css);
      @import url(css/media-queries.css);
   </style>
   <script src="js/shared/jquery.js" type="text/javascript"></script>
   <script src="js/shared/slider.js" type="text/javascript"></script>
   <script src="js/shared/bootstrap.js"></script>
   <script src="js/shared/angular.js"></script>
   <script src="js/shared/angular-route.js"></script>
   <script src="js/shared/google.js"></script>
   <script src="js/shared/vk.js"></script>
   <script type="text/javascript">
      VK.init({
         apiId: 5528261,
         onlyWidgets: true
      });
   </script>
   <link rel="prefetch" href="/img/games/">
</head>
<body ng-app="MainApp" ng-controller="GamesController">
   <div class="container-fluid">
      <div class="karkaz row" id="header">
         <div id="mobile-logo">
            <a href="#/">
               <img src="img/header/mobile.png">
            </a>
         </div>
         <div class="left"></div>
         <div class="content" id="header-content">
            <img src="img/header/sunduk.png">
            <img id="logo" src="img/header/logo.png">
            <div class="kontaktu">
               <p>Время работы:</p>
               <div title="Мы доступны с 10 утра до 11 вечера">
                  <span class="glyphicon glyphicon-time"></span>
                  <p>10:00-23:00</p>
               </div>
               <p>Контакты:</p>
               <a href="skype:live:goldenboxsite?chat" title="Нажмите для открытия чата">
                  <span class="socicon-skype"></span>
                  <p>Связь Skype</p>
               </a>
               <a href="https://vk.com/goldenboxorg" title="Нажмите, чтобы перейти в группу" target="_blank" rel="noopener noreferrer">
                  <span class="socicon-vkontakte"></span>
                  <p>Группа VK</p>
               </a>
               <div title="Наш ICQ UIN">
                  <span class="socicon-icq"></span>
                  <p>474-402</p>
               </div>
            </div>
            <img id="hero" src="img/header/poster.png">
         </div>
         <!-- end content -->
         <div class="right"></div>
      </div>
      <!-- end header -->
      <div class="karkaz row">
         <div id="left" class="left"></div>
         <div class="content">
            <div id="left-panel" class="col-sm-3">
               <nav class="navbar navbar-default oval" id="menu-spisok">
                  <div class="navbar-header">
                     <div class="scroll mobile"></div>
                     <p>Список игр</p>
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#spisok" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                     </button>
                  </div>
               </nav>
               <div class="scroll"></div>
               <div class="collapse navbar-collapse list-group oval" id="spisok">
                  <ul>
                     <li>
                        <div id="sortirovka">
                           <div id="rating" ng-click="reverse=false; predicate='rating'">По рейтингу</div>
                           <div id="alfavit" ng-click="reverse=false; predicate='title'">По алфавиту</div>
                        </div>
                     </li>
                     <li>
                        <a ng-repeat="game in games| orderBy:predicate:reverse" href="#/game/{{game.rating}}" class="list-group-item">
                           {{game.title}}
                           <div class="line"></div>
                        </a>
                     </li>
                  </ul>
               </div>
               <div id="google_translate_element" class="oval"></div>
               <div id="vk_groups"></div>
            </div>
            <!-- end left panel -->
            <div class="col-sm-9">
               <nav class="navbar navbar-default" id="menu">
                  <ul class="nav navbar-nav main-nav">
                     <li><a href="#/">Главная</a></li>
                     <li></li>
                     <li><a href="#/novosti">Новости</a></li>
                     <li></li>
                     <li><a href="#/garantii">Гарантии</a></li>
                     <li></li>
                     <li><a href="#/postavshikam">Поставщикам</a></li>
                     <li></li>
                     <li><a href="#/kontaktu">Контакты</a></li>
                  </ul>
               </nav>
               <div id="view" ng-view></div>
               <!-- end view -->
            </div>
            <!-- end center panel -->
         </div>
         <!-- end content -->
         <div id="right-panel" class="right"></div>
      </div>
      <!-- end main -->
      <div class="karkaz row" id="footer">
         <div class="left"></div>
         <div class="content">
            <div class="col-sm-12">
               <div class="col-sm-3">
                  <img src="img/footer/logo.png" class="img-responsive">
               </div>
               <div class="col-sm-1">
                  <ul class="nav">
                     <li><a href="#/">Главная</a></li>
                     <li><a href="#/novosti">Новости</a></li>
                     <li><a href="#/garantii">Гарантии</a></li>
                     <li><a href="#/postavshikam">Поставщикам</a></li>
                     <li><a href="#/kontaktu">Контакты</a></li>
                  </ul>
               </div>
               <div class="col-sm-5">
                  <img src="img/footer/poster.png" alt="" class="img-responsive">
               </div>
               <div class="col-sm-1" id="payment">
                  <a href="https://passport.webmoney.ru/asp/certview.asp?wmid=305748853214" class="payment webmoney" title="Мы принимем WebMoney. Нажмите, чтобы проверить наш атестат." target="_blank" rel="noopener noreferrer"></a>
                  <a href="https://money.yandex.ru/new" class="payment yandex" title="Мы принимем Яндекс Деньги" target="_blank" rel="noopener noreferrer"></a>
                  <a href="https://qiwi.com/" class="payment qiwi" title="Мы принимем qiwi" target="_blank" rel="noopener noreferrer"></a>
               </div>
               <div class="col-sm-2">
                  <div class="kontaktu">
                     <div title="Мы доступны с 10 утра до 11 вечера">
                        <p id="time">Время работы:</p>
                        <div>
                           <span class="glyphicon glyphicon-time"></span>
                           <p>с 10:00 до 23:00</p>
                        </div>
                     </div>
                     <a href="sskype:live:goldenboxsite?chat" title="Нажмите для открытия чата">
                        <span class="socicon-skype"></span>
                        <p>Связь Skype</p>
                     </a>
                     <a href="https://vk.com/goldenboxorg" title="Нажмите, чтобы перейти в группу" target="_blank" rel="noopener noreferrer">
                        <span class="socicon-vkontakte"></span>
                        <p>Группа VK</p>
                     </a>
                     <div title="Наш ICQ UIN">
                        <span class="socicon-icq"></span>
                        <p>474-402</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end content -->
         <div class="right"></div>
      </div>
      <!-- end footer -->
   </div>
   <!-- end container-fluid -->
   <script type="text/javascript">
      function googleTranslateElementInit() {
         new google.translate.TranslateElement({
            pageLanguage: 'ru'
         }, 'google_translate_element');
      }
      VK.Widgets.Group("vk_groups", {
         mode: 1,
         width: "auto",
         height: "250",
         color1: '693919',
         color2: 'FDFDFD',
         color3: 'dfa31b'
      }, 127618522);
   </script>
   
   <!-- Modules -->
   <script src="js/app.js"></script>
   <!-- Controllers -->
   <script src="js/controllers/GamesController.js"></script>
   <script src="js/controllers/GameController.js"></script>
   <!-- Services -->
   <script src="js/services/game.js"></script>
</body>
</html>
