<div class="panel panel-default">
   <div class="panel-heading">
      Приглашаем к выгодному сотрудничеству с GoldenBox
   </div>
   <div class="panel-body">
      <p>Если Вы любите играть и у Вас накопилась игровая валюта, мы поможем на этом заработать, не зависимо от того планируете ли Вы играть дальше или хотите продать остатки!
      </p>
      Правила для поставщиков:
      <ol>
         <li>Всегда хранить скриншот сделки, он может быть потребован по просьбе магазина.</li>
         <li>Максимально быстро выполнять принятые заказы.</li>
         <li>Ники персонажей копировать, а не вводить вручную.</li>
         <li>Ошибочная доставка на отличаемый от заказа ник или сервер не оплачивается.</li>
         <li>Оплата строго после выполнения заказа в срок до 24х часов (обычно 5-30 мин).</li>
      </ol>
      <p><br>Для добавления в поставщики следует написать по контактам или же заполнить форму ниже:</p>
      <div class="thumbnail col-sm-8">
         <select>
            <option disabled selected>Выберите игру</option>
            <option ng-repeat="game in games">{{game.title}}</option>
         </select>
         <textarea name="" placeholder="Укажите сервер и количество игровой валюты. Если вы заходете в игру в определенное время суток - напишите нам об этом" required></textarea>
         <textarea name="" placeholder="Оставьте вашие контактные данные: e-mail, vkontakte, skype и т.п. Чем больше контактов тем лучше" cols="50" rows="5" required></textarea>
         <button type="button" class="btn btn-success">Стать нашим поставщиком <span id="gotovo"></span></button>
      </div>
   </div>
</div>

<script type="text/javascript">
   $.MenuChoise(7,4);
</script>

<!-- Modules -->
<script src="js/app.js"></script>