<style>
   @import url(views/game/game.css);
   @import url(css/media-queries.css);
</style>
<div id="description" class="panel panel-default">
      <div class="panel-heading">
         Покупка {{detail.valuta}} в игре {{detail.title}}
      </div>
      <div class="panel-body">
         <p>Наш сайт принимает заказы круглосуточно! Если заказ был оформлен в нерабочее время - его выполнят утром. Доставка игровой валюты занимает от 5 минут до 24 часов (обычно 5 - 30 минут). При больших заказах доставка может производиться частями. По правилам сервера игры возможно запрещена покупка и продажа игровой валюты. Для гарантировано безопасной сделки рекомендуется не входить в контакты с отправителем. Сайт не несет ответственности за нарушение правил сервера игроками. Мы делаем все для максимально безопасной и комфортной доставки игровой валюты.</p>
      </div>
</div>

<form name="zakaz" ng-submit="submit()">
   <div id="sunduk">
      <div class="col-sm-6">
         <p>Сервер:
            <select required ng-click="error={color:'transparent'}" ng-model="model.selectedCategory" ng-options="server as server.name for server in detail.servers">
               <option value="" disabled >Выберите сервер</option>
            </select>
         </p>
         <p>Способ доставки:
            <select required ng-model="dostavka" ng-options="dostavka as dostavka.sposob for dostavka in detail.dostavka">
               <option value="" disabled selected>Выберите способ доставки</option>
            </select>
         </p>
         <p>Ник персонажа:
            <input required ng-model="nickname" pattern="^[а-яА-ЯёЁa-zA-Z0-9/.^!|$%&*#-_?:https??@?]{3,20}$" placeholder="Введите ник персонажа">
         </p>
         <p class="col-sm-6">Получу:
            <input required ng-model="model.name" pattern="^[0-9.]{0,13}$">
         </p>
         <div class="col-sm-6">Заплачу:
            <div id="rezultat">
               <div ng-show="model.selectedCategory">
                  <p type="text" ng-show="model.name">{{model.name*model.selectedCategory.cena}}</p>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6">
         <p>Сторона:
            <select ng-model="storona" ng-options="storona as storona.name for storona in detail.storonu">
               <option value="" disabled selected>Выберите сторону</option>
            </select>
         </p>
         <p>Електронный адрес:
            <input required ng-model="email" type="email" placeholder="Введите ваш e-mail">
         </p>
         <p>Контактные данные:
            <input ng-model="contacts" required pattern="^[а-яА-ЯёЁa-zA-Z0-9/.\s-_?:https?]{5,150}$" placeholder="Введите ваш vk, skype и т.п.">
         </p>
         <p>Способ оплаты
            <select required ng-model="oplata">
               <option value="" disabled selected>Выберите способ оплаты</option>
               <option>Qiwi Кошелек (без комиссии)</option>
               <option>Яндекс деньги (без комиссии)</option>
               <option>WebMoney</option>
               <option>Visa/MasterCard</option>
            </select>
         </p>
      </div>
      <div id="zakazat">
         <button type="submit" class="btn btn-success">Отправить заказ&nbsp;
            <span class="indicator glyphicon glyphicon-ok" ng-hide="zakaz.$invalid"></span>
            <span class="indicator glyphicon glyphicon-remove" ng-show="zakaz.$invalid"></span>
         </button>
      </div>
   </div>
   <div class="alert alert-info" ng-hide="model.selectedCategory">
      <strong>Внимание!</strong> Чтобы посчитать цену, нужно выбрать сначала сервер!
   </div>
   <div class="alert alert-danger" ng-show="zakaz.$invalid">
      <strong>Ваш заказ не готов к обработке!</strong> Пожалуйста, заполните все необходимые поля. Когда заказ будет готов к отправке, индикатор <span class="glyphicon glyphicon-remove"></span> измениться на <span class="glyphicon glyphicon-ok".></span> и это сообщение пропадет.
   </div>
   <div class="alert alert-success hide">
      <strong>Ваш заказ принят!</strong> Ему был присвоен номер: 1. Мы свяжемся с вами в ближайшее время!
   </div>
</form>

<div class="panel panel-default tabl">
   <div class="panel-heading">Цены на игровую валюту {{detail.title}}</div>
   <table class="table">
      <thead>
         <tr>
            <th>Сервер</th>
            <th>Цена 1 {{detail.valuta}}</th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="server in detail.servers">
            <th scope="row">{{server.name}}</th>
            <td>{{server.cena}} руб</td>
         </tr>
      </tbody>
   </table>
</div>
<script src="views/game/game.js"></script>
