<style>
   @import url(views/postavshikam/postavshikam.css);
</style>
<div class="panel panel-default">
   <div class="panel-heading">
      Приглашаем к выгодному сотрудничеству с GoldenBox
   </div>
   <div class="panel-body">
      <p>Если Вы любите играть и у Вас накопилась игровая валюта, мы поможем на этом заработать, не зависимо от того планируете ли Вы играть дальше или хотите продать остатки!
      </p>
      Правила для поставщиков:
      <ol>
         <li>Всегда хранить скриншот сделки, он может быть потребован по просьбе магазина.</li>
         <li>Максимально быстро выполнять принятые заказы.</li>
         <li>Ники персонажей копировать, а не вводить вручную.</li>
         <li>Ошибочная доставка на отличаемый от заказа ник или сервер не оплачивается.</li>
         <li>Оплата строго после выполнения заказа в срок до 24х часов (обычно 5-30 мин).</li>
      </ol>
      <p><br>Для добавления в поставщики следует написать по контактам или же заполнить форму ниже:</p>
      <form name="postavshik" ng-submit="submit()">
         <div class="thumbnail col-sm-8">
            <select required ng-model="selectgame" ng-options="game as game.title for game in games">
               <option value="" disabled selected>Выберите игру</option>
            </select>
            <textarea pattern="^[а-яА-ЯёЁa-zA-Z0-9/.\s-_?:https??@?]{10,250}$" ng-model="data" placeholder="Укажите сервер и количество игровой валюты. Если вы заходете в игру в определенное время суток - напишите нам об этом" required></textarea>
            <textarea pattern="^[а-яА-ЯёЁa-zA-Z0-9/.\s-_?:https??@?]{5,250}$" ng-model="contacts" placeholder="Оставьте вашие контактные данные: e-mail, vkontakte, skype и т.п. Чем больше контактов тем лучше" required></textarea>
            <button type="submit" class="btn btn-success">Стать нашим поставщиком
               <span class="indicator glyphicon glyphicon-ok" ng-hide="postavshik.$invalid"></span>
               <span class="indicator glyphicon glyphicon-remove" ng-show="postavshik.$invalid"></span>
            </button>
         </div>
         <div class="alert alert-danger col-sm-8" ng-show="postavshik.$invalid">
            <strong>Форма не готова к обработке!</strong> Пожалуйста, заполните все необходимые поля. Когда форма будет готов к отправке, индикатор <span class="glyphicon glyphicon-remove"></span> измениться на <span class="glyphicon glyphicon-ok".></span> и это сообщение пропадет.
         </div>
         <div class="alert alert-success col-sm-8 hide">
            <strong>Ваша заявка принята!</strong> Мы свяжемся с вами в ближайшее время и обсудим условия сотрудничества!
         </div>
      </form>
   </div>
</div>
<script src="views/postavshikam/postavshikam.js"></script>
