.panel-body button{
   margin: 0px;
   margin-bottom: 6px;
}

.panel-body select,
.panel-body input{
   width: 100%;
   height: 30px;
   border-radius: 10px;
   background-color: #ddd;
   margin-bottom: 14px;
   border: none;
}

.panel-body select{
   padding-left: 5px;
}

.panel-body input{
   padding-left: 10px;
}

.panel-body textarea{
   width: 100% !important;
   height: 100px;
   border-radius: 10px;
   background-color: #ddd;
   margin-bottom: 9px;
   margin-top: 0px;
   border: none;
   padding-left: 10px;
}

.panel-body input::-webkit-input-placeholder,
.panel-body textarea::-webkit-input-placeholder{
   color: #693919;
}

.panel-body .thumbnail :nth-child(4){
   margin-bottom: 3px;
}
