.col-xs-6,
.col-sm-6{
   padding: 0;
}

#vizitka{
   background: white;
   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

#vizitka p{
   font-size: 16px;
   font-family: PTSans-Web-Bold, sans-serif;
   margin-top: 5px;
}
