<style>
   @import url(views/games/games.css);
</style>
<div id="owl-news" class="owl-carousel owl-news">
   <div class="item">
      <a href="">
         <img class="img-responsive item" src="img/slider/slide1.png">
      </a>
   </div>
   <div class="item">
      <a href="">
         <img class="img-responsive" src="img/slider/slide2.png">
      </a>
   </div>
</div>

<div id="game-panel">
   <div id="game-panel-item" class="col-xs-6 col-sm-3" ng-repeat="game in games| orderBy:predicate:reverse">
      <a href="#/game/{{game.rating}}">
         <div class="thumbnail">
            <p>
               <span class="badge pull-right">{{game.badge}}</span>
            </p>
            <img class="img-responsive" src="{{game.logo}}">
            <h6>{{game.title}}</h6>
         </div>
      </a>
   </div>
</div>
<script src="views/games/games.js"></script>
