<style>
   @import url(views/garantii/garantii.css);
</style>
<div class="panel panel-default">
   <div class="panel-heading">
      Почему мы?
   </div>
   <div class="panel-body">
      <p>Основное правило нашего сервиса - всегда работать честно. Мы делаем все возможное для максимально комфортного получения игровой валюты, учитывая особенности каждой игры. Наш сайт появился благодаря успешной работе предыдущего сервиса - <a href="http://aionkinars.ru">AionKinars.ru</a>, который на момент открытия существовал более полутора лет и имел большое количество постоянных покупателей и позитивных отзывов.
      </p>
   </div>
</div>

<div class="panel panel-default">
   <div class="panel-heading">
      Гарантии нашей роботы:
   </div>
   <div class="panel-body">
      <p>Вы всегда можете проверить на честность наши платежные кошельки, которые прошли проверку личности, что несет собой прямое намерение открытой и честной работы.</p>
      <div id="garantii-panel">
         <div id="garantii-item" class="col-xs-6 col-sm-3" >
            <a href="https://passport.webmoney.ru/asp/certview.asp?wmid=305748853214">
               <div class="thumbnail">
                  <img class="img-responsive" src="img/garantii/webmoney.png">
               </div>
            </a>
         </div>
         <div id="garantii-item" class="col-xs-6 col-sm-3 garantii">
            <a href="https://money.yandex.ru/new">
               <div class="thumbnail" >
                  <img class="img-responsive" src="img/garantii/yandex.png">
               </div>
            </a>
         </div>
         <div id="garantii-item" class="col-xs-6 col-sm-3 garantii">
            <a href="">
               <div class="thumbnail">
                  <img class="img-responsive" src="img/garantii/vozvrat.png">
               </div>
            </a>
         </div>
         <div id="garantii-item" class="col-xs-6 col-sm-3 garantii">
            <a href="">
               <div class="thumbnail">
                  <img class="img-responsive" src="img/garantii/handshake.png">
               </div>
            </a>
         </div>
      </div>
      <p>&nbsp;&nbsp;Под проверкой личности подразумевается предоставление необходимых документов для подтверждения личности, в том числе и паспортных данных. Этой проверкой гарантируется намерение постоянной и прозрачной деятельности владельца платежных кошельков.<br>&nbsp;&nbsp;&nbsp;При желании каждый может проверить открытую информацию о владельце кошельков нашего сайта:
      </p>
      <ul>
         <li>WebMoney - WMID 305748853214</li>
         <li>YandexMoney - 41001195198687</li>
      </ul>
      <p>&nbsp;&nbsp;Наш сайт ориентирован на привлечение постоянных клиентов, поэтому мы всегда ответственно относимся к каждой сделке. Вся информация о покупателе конфиденциальна и не может быть получена третей стороной.<br>&nbsp;&nbsp;Мы всегда стремимся сделать процесс покупки или продажи игровой валюты максимально комфортным для наших клиентов. Любые замечания или пожелания к нашему сервису Вы всегда можете написать по контактам. Будем всегда рады к сотрудничеству для развития нашего сайта.
      </p>
   </div>
</div>
<script src="views/garantii/garantii.js"></script>
