.panel-default ul{
   margin: 0px;
   margin-top: -13px;
}

.panel-default ol{
   margin-bottom: 0px;
   padding-left: 20px;
}

#garantii-panel{
   margin-top: -10px;
}

#garantii-item{
   padding: 5px;
}

#garantii-item div{
   background-color: white;
}

#garantii-item a div{
   border-radius: 13px;
}

#garantii-item a div:hover{
   box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.thumbnail p {
   margin: 0px;
   padding: 0px;
   height: 19px;
   font-family: OpenSans-Web-Regular, sans-serif;
}
